// WHITE
$c-white: #fff;
$c-alabaster: #f9f9f9;
$c-wild-sand: #f5f5f5;
$c-catskill-white: #e5e9f2;

//BLACK
$c-black: #000;

//gray
$c-spectra: #2f4f4f;
$c-mine-shaft: #222;
$c-silver: #cdc6c6;
$c-ivory: #eeede7;

//red
$c-red: #ff0000;
$c-radical-red: #fa3355;

//blue
$c-blue: #1400ff;

//green
$c-blue-shade: #7676ff;

$c-primary-color: $c-blue-shade;

//Tulisan
$f-arial: "Arial, Helvetica, sans-serif";
